.timepicker, .timepicker * {
  box-sizing: border-box;
}

.timepicker {
  position: relative;
  z-index: 10;
  padding: 10px;
  color: #444;
  font-size: 14px;
}

.timepicker table {
  width: 100%;
  border-collapse: collapse;
}

.timepicker td {
  padding: 0;
  margin: 0;
  text-align: center;
}

.timepicker-btn {
  border: none;
  outline: none;
  padding: 6px 0;
  width: 100%;
  background-color: #fff;
}
.timepicker-btn:hover {
  background-color: #eee;
}

.chevron-up::before {
  content: url("chevron-up.svg");
  position: relative;
  top: 2px;
}
.chevron-down::before {
  content: url("chevron-down.svg");
  position: relative;
  top: 2px;
}
